<h3 class="service-h3">
    <div class = "body" ng-controller = "problemsListController">
        <div style="position: absolute; top: 0; right: 0; width: 200px; text-align:right;" ng-click="logout('view1')">
            <i><a>Logout, {{user}}.</a></i>
        </div>
        Welcome <i>{{user}}</i> to the problem selection and results page! Choose the problem that you want to solve!<br><br>
        <table border="1" >
            <thead>
                <tr align = "center">
                    <td>Problem number</td>
                    <td>Title</td>
                    <td>Level</td>
                    <td>Best Score</td>
                    <td>Last Result</td>
                </tr>
            </thead>
            <tbody>
                <tr align="center" ng-repeat="problem in problems" ng-click="changeView('view3', $index)">
                    <td><a>{{$index + 1}}</a></td>
                    <td>{{problem.title}}</td>
                    <td>{{problem.level}}</td>
                    <td>{{problem.score}}</td>
                    <td>{{problem.lastResult}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</h3>
